<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="3">
	<Appenders>
		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p](%F:%L)-%m%n"/>
		</Console>
		<RollingFile name="fileAppender" fileName="./log/application.log"
			filePattern="./log/application.log.%i" >
			<PatternLayout>
				<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p](%F:%L)-%m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- Root Logger -->
		<Root level="INFO">
			<AppenderRef ref="consoleAppender"/>
			<AppenderRef ref="fileAppender"/>
		</Root>
	    <Logger name="net.oopscraft.application" level="INFO" additivity="false">
			<AppenderRef ref="consoleAppender"/>
			<AppenderRef ref="fileAppender"/>
    	</Logger>
		<Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
			<AppenderRef ref="consoleAppender"/>
			<AppenderRef ref="fileAppender"/>
		</Logger>
	</Loggers>
</Configuration>
